.selector-body {
    display: flex;

    align-items: center;
    justify-content: flex-start;

    flex-direction: row;

    width: auto;
    height: 4vh;

    padding: 0 1vw 0 1vw;

    border-radius: 10px;

    gap: 1vw;
}
